body {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    color: #333;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #410303; 
    padding: 1rem 2rem;
}

.logo-heading {
    color: #fff;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

ul li {
    margin: 0;
}

ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    padding: 0.5rem 1.5rem; 
}

ul li a:hover {
    background-color: #746262; 
    border-radius: 4px;
}

section#Home {
    padding: 2rem;
    background-color: #f4f4f4;
    text-align: center;
}


