header, section#home {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}
/* body section styles */
body {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 251, 251);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    color: rgb(255, 251, 251);
}

/* navbar section styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #410303, #a80737, #a13947);
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo-img {
    height: 40px; 
    width: auto; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

ul li {
    margin: 0;
}

ul li a {
    color: rgb(255, 251, 251);
    text-decoration: none;
    padding: 0.5rem 1.5rem; 
}

ul li a:hover {
    background-color: #0f0e0e; 
    border-radius: 4px;
}

section#home {
    padding: 0;
    margin: 0;
    background-color: #0a0a0a;
    text-align: left;
}
/* hero section styles */
.hero {
    background-image: url(ancsa.portfolio.jpg);
    background-repeat: no-repeat;
    background-size: 25%; 
    background-position: right center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 3rem 4rem; 
}

.intro {
    padding-left: 3rem; 
    padding-right: 1rem; 
    text-align: left;
}
/* button section styles */
.btn {
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.common-btn {
    background: linear-gradient(to right, #410303, #a80737, #a13947);
    color: rgb(255, 251, 251);
    
}

.common-btn:hover {
    background: linear-gradient(to right, #410303, #a80737, #a13947);
   
}

.ghost-btn {
    background-color: transparent;
    color: rgb(255, 251, 251);
    border: 2px solid #a13947;
    
}

.ghost-btn:hover {
    background: linear-gradient(to right, #410303, #a80737, #a13947);
    color: rgb(255, 251, 251);
    border-color: #410303;
    
}
/* About section styles */
.about {
    display: flex;
    align-items: center;
    background-image: linear-gradient(45deg, #a80737, #410303);
    justify-content: space-between;
    width: 100%;
    padding: 3rem;
}

.about .about-text {
    width: 450px;
    color: rgb(255, 251, 251);
    padding: 1rem; 
}

.about .about-image img {   
    width: 500px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    padding: 1rem; 
}
